body {
  font-size: 1.1em;
} 
th:first-child, td:first-child {
    padding-left: 0px;
    background-color: #404040 ;
    color: #fff;
}
  .column, .columns {
    margin-left: 1%;
}
.container {
	max-width: 1080px;
  width: 86%;
}

  h1, h2, h3, h4 { 
    color: #642887;
  }
  .h5 {
    font-size: 1.1rem;
  }
  table {
    width: 100%;
  }

.inline {
  display: inline-block;
}

  .l {
  border: 1px solid #000;
    margin: 4px;
    padding: 7px;
    font-size: 10.7px;
    border-radius: 3px;
  }
.right {
	float: right;
}
  tr {
    border: 1px solid #000;
    padding: 7px;
  }
  tr td {
    display: block;
    padding: 5px;
    
  }
  
  .pull-up {
    margin: 10px;
  }
  .positive {
    background-color: #00B48C;
    color: #fff;
    
  }
  .mas-chico {
    font-size: 21px;
  }
  .no-margin {
   margin-bottom: 0rem;
  }